.marketplace{
    /* border: 1px solid blue; */
    padding-top: 20px;
}
.marketplace-head{
    /* border: 1px solid green; */
}
.marketplace-head h3{
    font-size: 45px;
    color: var(--primary-color);
    font-family: 'Life Savers';
    font-weight: bold;
    padding-bottom: 20px;
}
.marketplace-head p{
    font-size: 13px;
    color: var(--text-color);
}

.marketplace-cards{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    margin-top: 50px;
    text-align: left;
    /* padding: 12px; */
}
.marketplace-cards-sample, .marketplace-cards-sample, .marketplace-cards-sample{
    /* border: 1px solid blue; */
    border-radius: 12px;
    box-shadow: 0 3px 7px rgb(190, 189, 189);
    padding: 15px;
}
.marketplace-cards-image{
    /* padding: 15px; */
    border-radius: 12px;
    /* border: 1px solid red; */
}
.marketplace-cards-sample .card-title, .marketplace-cards-sample .card-title, .marketplace-cards-sample .card-title{
    font-family: 'Life Savers';
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
}
.marketplace-cards-sample .card-subtitle, .marketplace-cards-sample .card-subtitle, .marketplace-cards-sample .card-subtitle{
    /* border: 1px solid red; */
    margin-top: -7px;
    font-size: 12px;
    color: var(--text-subtitle);
    margin-bottom: 3px;
}
.marketplace-cards-sample .card-price, .marketplace-cards-sample .card-price, .marketplace-cards-sample .card-price{
    color: #29CC6A;
    font-size: 14px;
}
.marketplace-cards-sample .add-to-cart, .marketplace-cards-sample .add-to-cart, .marketplace-cards-sample .add-to-cart{
    background: #F8EAF4;
    text-align: center;
    padding: 6px;
    border-radius: 12px;
    font-family: 'Life Savers';
    color: var(--primary-color);
    margin-top: 6px;
}

.view-marketplace{
    /* border: 1px solid red; */
    margin-top: 90px;
    padding: 20px;
}
.view-marketplace-button{
    text-decoration: none;
    color: white;
    font-family: 'Life Savers';
    background: var(--primary-color);
    padding: 10px 25px;
    border-radius: 12px;
}

@media (min-width: 200px) and (max-width: 480px) {
    .marketplace-head h3{
        font-size: 30px;
        /* border: 1px solid red; */
        width: 100vw;
    }
    .marketplace{
        /* border: 1px solid red; */
    }
    .marketplace-head p{
        font-size: 11px;
    }
    .marketplace-cards{
        display: grid;
        /* flex-direction: column; */
        grid-template-columns: repeat(2, 1fr);
        /* border: 1px solid red; */
        width: 100vw;
        gap: 2rem;
        padding-left: 16px;
    }
    .marketplace-cards-sample{
        /* border: 1px solid red; */
        width: 40vw;
    }
    .marketplace-cards-image{
        /* border: 1px solid red; */
        width: 33vw;
    }
    .marketplace-cards-sample .card-title{
        font-size: 11px;
        font-weight: bold;
    }
    .marketplace-cards-sample .card-subtitle{
        font-size: 11px;
    }
    .marketplace-cards-sample .card-price{
        font-size: 11px;
    }
    .marketplace-cards-sample .add-to-cart{
        font-size: 11px;
        padding: 4px;
    }
    .view-marketplace{
        /* border: 1px solid red; */
        margin-top: 35px;
    }
    .view-marketplace-button{
        padding: 7px 20px;
        font-size: 13px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .marketplace-head h3{
        font-size: 40px;
    }
    .marketplace-head p{
        font-size: 12px;
    }
    .marketplace-cards{
        display: grid;
        /* flex-direction: column; */
        grid-template-columns: repeat(2, 1fr);
        /* border: 1px solid red; */
        width: 100vw;
        gap: 2rem;
        padding-left: 16px;
    }
    .marketplace-cards-sample{
        /* border: 1px solid red; */
        width: 40vw;
    }
    .marketplace-cards-image{
        /* border: 1px solid red; */
        width: 36vw;
    }
    .marketplace-cards-sample .card-title{
        font-size: 14px;
        font-weight: bold;
    }
    .marketplace-cards-sample .card-subtitle{
        font-size: 13px;
    }
    .marketplace-cards-sample .card-price{
        font-size: 13px;
    }
    .marketplace-cards-sample .add-to-cart{
        font-size: 13px;
        padding: 8px;
    }
    .view-marketplace{
        /* border: 1px solid red; */
        margin-top: 35px;
    }
    .view-marketplace-button{
        padding: 10px 25px;
        font-size: 13px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .marketplace-head h3{
        font-size: 40px;
    }
    .marketplace-head p{
        font-size: 13px;
    }
    .marketplace-cards{
        display: grid;
        /* flex-direction: column; */
        grid-template-columns: repeat(2, 1fr);
        /* border: 1px solid red; */
        width: 100vw;
        gap: 2rem;
        padding-left: 16px;
    }
    .marketplace-cards-sample{
        /* border: 1px solid red; */
        width: 40vw;
    }
    .marketplace-cards-image{
        /* border: 1px solid red; */
        width: 36vw;
    }
    .marketplace-cards-sample .card-title{
        font-size: 15px;
        font-weight: bold;
    }
    .marketplace-cards-sample .card-subtitle{
        font-size: 14px;
    }
    .marketplace-cards-sample .card-price{
        font-size: 14px;
    }
    .marketplace-cards-sample .add-to-cart{
        font-size: 14px;
        padding: 8px;
    }
    .view-marketplace{
        /* border: 1px solid red; */
        margin-top: 35px;
    }
    .view-marketplace-button{
        padding: 10px 25px;
        font-size: 15px;
    }
}