.magic-touch{
    /* border: 1px solid orange; */
    margin-top: 30px;
}
.magic-touch-number h1{
    font-size: 170px;
    font-family: 'Nohemi';
    /* border: 1px solid green; */
    width: 61%;
    color: #ffffff;
    margin-left: 19%;
    background: #fbc8eb;
}
.magic-touch-middle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 61%;
    /* border: 1px solid yellow; */
    margin-left: 19%;
    background: #fbc8eb;
}
.images-container{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-left: 28%;
    padding-top: 30px;
    /* position: relative; */
}
.magic-touch-image-left, .magic-touch-image-right{
    width: 320px;
    height: auto;
    /* border-radius: 12px; */
    /* border: 1px solid red; */
}
.images-container .magic-touch-image-left{
    z-index: 2;
    position: relative;
    margin-right: -70px;
    /* box-shadow: 0 4px 20px rgba(0,0,0,0.15); */
       width: 900px;
    height: 100%;
    object-fit: cover;
    display: block;
    /* border-radius: 12px; */
    /* border: 1px solid orange; */
    bottom: 20px;

}

.images-container .magic-touch-image-right {
    width: 100%;
    height: 60%;
    object-fit: cover;
    display: block;
    top: 20px;
    /* border-radius: 12px; */
    /* border: 1px solid orange; */
    z-index: 1;
    position: relative;
    /* border: 1px solid black; */
    margin-right: 30%;
}
.magic-touch-image-left .left-img{
    width: 100%;
    /* border: 1px solid green; */
}
.magic-touch-image-right .right-img{
    width: 100%;
}


.magic-touch-bottom{
    /* border: 1px solid red; */
    width: 61%;
    margin-left: 19%;
    background: #fbc8eb;
    padding: 50px;
}
.magic-touch-bottom h3{
    font-family: 'Life Savers';
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: bold;
}
.magic-touch-bottom p{
    font-size: 15px;
    font-weight: bold;
}

@media (min-width: 200px) and (max-width: 480px) {
    .magic-touch-number h1{
        /* border: 1px solid red; */
        width: 99.5vw;
        margin-left: 0;
    }
    .magic-touch{
        /* border: 1px solid red; */
    }
    .magic-touch-middle{
        width: 99.5vw;
        margin-left: 0;
        
    }
    .images-container{
        /* border: 1px solid blue; */
        width: 99.5vw;
    }
    .images-container .magic-touch-image-left .left-img, .images-container .magic-touch-image-right .right-img{
        width: 200px;
        /* border: 1px solid red; */
        margin-left: -50px;
    }
    .magic-touch-bottom{
        width: 99.5vw;
        margin-left: 0;
    }
    .magic-touch-bottom h3{
        font-size: 28px;
    }
    .magic-touch-bottom p{
        font-size: 14px;
        line-height: 20px;
        font-weight: lighter;
        margin-top: 20px;
        /* border: 1px solid red; */
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .magic-touch-number h1{
        /* border: 1px solid red; */
        width: 100vw;
        margin-left: 0;
    }
    .magic-touch-middle{
        width: 100vw;
        margin-left: 0;
    }
    .images-container{
        /* border: 1px solid blue; */
    }
    .images-container .magic-touch-image-left{
        width: 500px;
    }
    .magic-touch-bottom{
        width: 100vw;
        margin-left: 0;
    }
    .magic-touch-bottom p{
        line-height: 20px;
    }
    .magic-touch-bottom p{
        font-size: 16px;
        line-height: 20px;
        font-weight: lighter;
        margin-top: 20px;
        /* border: 1px solid red; */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .magic-touch-number h1{
        /* border: 1px solid red; */
        width: 100vw;
        margin-left: 0;
    }
    .magic-touch-middle{
        width: 100vw;
        margin-left: 0;
    }
    .images-container{
        /* border: 1px solid blue; */
    }
    .images-container .magic-touch-image-left{
        width: 500px;
    }
    .magic-touch-bottom{
        width: 100vw;
        margin-left: 0;
    }
    .magic-touch-bottom p{
        font-size: 16px;
        line-height: 20px;
        font-weight: lighter;
        margin-top: 20px;
        /* border: 1px solid red; */
    }
}