.anon-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.anon-popup-content {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  width: 330px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: popUp 0.25s ease;
}

.anon-popup-content h3 {
  margin-bottom: 15px;
  font-family: "Life Savers";
  color: var(--primary-color);
}

.anon-popup-content p {
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 20px;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.ok-btn {
  background: var(--primary-color);
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-btn {
  background: #ddd;
  color: black;
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes popUp {
  from {
    transform: scale(0.9);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
