/* ======OVERLAY */
.preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s;
}
.floating {
  position: fixed;
  top: -10vh;
  font-size: 2rem;
  z-index: 9999;
  animation: fall linear forwards;
  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(720deg);
    opacity: 0;
  }
}

.preview-popup {
  background: #fff;
  border-radius: 12px;
  padding: 2rem 4rem;
  width: 800px;
  min-width: 50px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  animation: scaleUp 0.3s;
  position: relative;
  height: fit-content;
}
.gift-img {
  height: 20rem;
  width: 20rem;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--primary-color);
  font-family: "Life Savers", serif;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
