.see-cards{
  /* border: 1px solid green; */
  margin-top: 40px;
  padding-bottom: 20px;
}
.see-cards-head{
  /* border: 1px solid red; */
  padding-top: 20px;
}
.see-cards-head h3{
  font-size: 45px;
    font-family: 'Life Savers';
    font-weight: bold;
    padding-bottom: 20px;
  color: var(--primary-color);
}
.see-cards-head p{
  font-size: 13px;
  color: var(--text-color);
  padding-bottom: 50px;
}

.realtime-middle{
  /* border: 1px solid orange; */
  padding: 90px;
}

.click-card a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
  background: #F8EAF4;
  padding: 60px 20px;
  /* border: 1px solid blue; */
  font-size: 20px;
  font-family: 'Life Savers';
}