.how-it-works{
    margin-top: 30px;
    /* border: 1px solid green; */
    background: #f7c8fc;
    padding-bottom: 15px;
}

.works-head{
    display: flex;
}

.works-title{
    /* border: 1px solid pink; */
    text-align: left;
    padding-left: 10px;
    padding-bottom: 120px;
    padding-right: 280px;
    margin-left: 19%;
    margin-top: 20px;
    background: #ffe6f1;
    padding-top: 10px;
    color: rgb(163, 160, 160);
}
.works-title u{
    color: var(--text-color);
}
.works-title-subtext{
    margin-top: 10px;
    font-size: 18px;
    color: var(--text-color);
}

.works-head .works-number{
    /* border: 1px solid blue; */
    margin-top: 20px;
    padding-right: 70px;
    background: radial-gradient(circle at center, #ffe3f8 0%, #f7c8fc 30%, #ebd7f9 60%, white 100%);
}
.works-head .works-number h1{
    /* border: 1px solid orange; */
    font-size: 200px;
    color: #a02655;
    font-family: 'Nohemi';
    font-weight: 800;
    margin-left: 50px;
    padding: 20px;
}

.works-middle{
    /* border: 1px solid red; */
}
.works-middle img{
    /* border: 1px solid black; */
    width: 60.2%;
    margin-right: 27px;
}

.works-bottom{
    /* border: 1px solid black; */
    padding-top: 20px;
    margin-top: -4px;
    padding-bottom: 60px;
    background: #ffe6f1;
    width: 60.2%;
    margin-left: 19%;
}
.works-bottom h2{
    font-family: 'Life Savers';
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 40px;
}
.works-bottom p{
    color: var(--primary-color);
    font-weight: bold;
}


@media (min-width:200px) and (max-width: 480px) {
   .works-head{
    /* border: 1px solid blue; */
  }
  .how-it-works{
    /* border: 1px solid red; */
    width: 100vw;
  }
  .works-title{
    /* border: 1px solid red; */
    margin-left: 1px;
    padding-right: 80px;
    height: 280px;
  }
  .works-title-subtext{
    font-size: 13px;
    /* border: 1px solid red; */
    width: 100px;
    margin-top: 30px;
  }
  .works-head .works-number{
    /* border: 1px solid green; */
    width: 48.9%;
  }
  .works-head .works-number h1{
    margin-left: 0;
    font-size: 150px;
    margin-top: 20px;
  }
  .works-middle img{
    /* width: 99.5vw; */
    margin-right: 0;
    /* border: 1px solid black; */
    width: 100%;
  }
  .works-middle{
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;

  }
  .works-bottom{
    width: 99.5vw;
    margin-left: 0;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
   .works-head{
    /* border: 1px solid blue; */
  }
  .works-title{
    /* border: 1px solid red; */
    margin-left: 12px;
  }
  .works-title-subtext{
    font-size: 22px;
    /* border: 1px solid red; */
  }
  .works-head .works-number{
    /* border: 1px solid red; */
    width: 36.4%;
  }
  .works-head .works-number h1{
    /* margin-left: 70px; */
  }
  .works-middle img{
    width: 96.5%;
    margin-left: 13px;
    /* border: 1px solid black; */
  }
  .works-bottom{
    width: 96.5%;
    margin-left: 13px;
  }
}

@media (min-width: 769px) and (max-width:1024px) {
  .works-head{
    /* border: 1px solid blue; */
  }
  .works-title{
    /* border: 1px solid red; */
    margin-left: 12px;
    padding-right: 90px;
  }
  .works-title-subtext{
    font-size: 22px;
    /* border: 1px solid red; */
  }
  .works-head .works-number{
    /* border: 1px solid red; */
    width: 45%;
  }
  .works-head .works-number h1{
    margin-left: 70px;
  }
  .works-middle img{
    width: 96.5%;
    margin-left: 13px;
    /* border: 1px solid black; */
  }
  .works-bottom{
    width: 96.5%;
    margin-left: 13px;
  }
}