.privacy-head{
    /* border: 1px solid red; */
    margin-top: 9%;
    margin-bottom: 50px;
    background: #FFD4FF26;
    padding: 15px;
}
.privacy-head h3{
    font-size: 45px;
    font-family: 'Life Savers';
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.privacy-head p{
    font-size: 14px;
}

.privacies-info{
    display: flex;
    /* flex-direction: column; */
    /* border: 1px solid black; */
    justify-content: center;
    margin-top: 70px;
}
.privacy-column1, .privacy-column2, .privacy-column3{
    /* border: 1px solid red; */
    width: 22%;
    margin-left: 70px;
    text-align: left;
}
.privacy-info{
    /* border: 1px solid blue; */
    margin-bottom: 30px;
}
.privacy-info h5{
    font-family: 'Life Savers';
    font-size: 20px;
    margin-bottom: 10px;

}
.privacy-info span{
    color: var(--primary-color);
    font-weight: bolder;
    /* border: 1px solid red; */
}
.privacy-info p{
    font-family: sans-serif;
    line-height: 20px;
    font-size: 14px;
    color: #606773;
}

.info-icon, .share-icon, .note-icon, .gear-icon, .cookie-icon, .headphone-icon, .lock-icon, .user-icon, .mail-icon{
    color: rgb(169, 169, 169);
}