.send-love{
margin-top: 40px;
background: #c4adec;
padding-top: 20px;
}
.send-love-number{
    background: #E4D4FF;
    width: 61%;
    margin-left: 19%;
}
.send-love-number h1{
    font-size: 170px;
    font-family: 'Nohemi';
    color: #6B6B6B;
}

.send-love-images{
    background: #E4D4FF;
    width: 61%;
    margin-left: 19%;
    display: flex;
}
.send-love-images-left, .send-love-images-middle, .send-love-images-right{
    width: 32%;
    height: 300px;
    /* margin-left: 20px; */
    /* border: 1px solid yellow; */
}
.send-love-images-left img, .send-love-images-middle img, .send-love-images-right img{
    width: 100%;
    height: 100%;
    /* margin-left: 20px; */
}
.send-love-images-left{
    margin-right: 20px;
}
.send-love-images-middle{
    margin-right: 20px;
}

.send-love-bottom{
    background: #E4D4FF;
    width: 61%;
    margin-left: 19%;
    padding: 40px;    
}
.send-love-bottom h3{
    font-size: 45px;
    font-family: 'Life Savers';
    font-weight: bold;
    padding-bottom: 20px;
    color: #6B6B6B;
}
.send-love-bottom p{
    font-weight: bold;
    color: #2962E2;
}

@media (min-width: 200px) and (max-width: 480px) {
    .send-love-number{
        width: 99.5vw;
        margin-left: 0;
    }
    .send-love{
        /* border: 1px solid red; */
    }
    .send-love-images{
        width: 99.5vw;
        margin-left: 0;
    }
    .send-love-images-left, .send-love-images-middle, .send-love-images-right{
        width: 100vw;
        height: 200px;
    }
    .send-love-images-left img, .send-love-images-middle img, .send-love-images-right img{
        width: 100%;
        height: 100%;
    }
    .send-love-bottom{
        width: 99.5vw;
        margin-left: 0;
    }
    .send-love-bottom h3{
        font-size: 30px;
    }
    .send-love-bottom p{
        font-size: 14px;
        line-height: 20px;
        font-weight: lighter;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .send-love-number{
        width: 100vw;
        margin-left: 0;
    }
    .send-love-images{
        width: 100vw;
        margin-left: 0;
    }
    .send-love-images-left, .send-love-images-middle, .send-love-images-right{
        width: 100vw;
        height: 200px;
    }
    .send-love-images-left img, .send-love-images-middle img, .send-love-images-right img{
        width: 100%;
        height: 100%;
    }
    .send-love-bottom{
        width: 100vw;
        margin-left: 0;
    }
    .send-love-bottom p{
        font-size: 16px;
        font-weight: lighter;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .send-love-number{
        width: 100vw;
        margin-left: 0;
    }
    .send-love-images{
        width: 100vw;
        margin-left: 0;
    }
    .send-love-images-left, .send-love-images-middle, .send-love-images-right{
        width: 100vw;
        height: 300px;
    }
    .send-love-images-left img, .send-love-images-middle img, .send-love-images-right img{
        width: 100%;
        height: 100%;
    }
    .send-love-bottom{
        width: 100vw;
        margin-left: 0;
    }
    .send-love-bottom p{
        font-weight: lighter;
        font-size: 16px;
    }
}