@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #d600a3;
  --secondary-color: #a300d6;
  --text-color: #333;
  --background-color: #f5f5f5;
  --text-subtitle: #666;
  --box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

body {
  font-family: "Raleway", sans-serif;
  background: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
input {
  font-size: 15px;
}
label {
  font-weight: 600;
}
